.site-layout-content {
    background: #fff;
    margin: 16px 50px;
    min-height: 90vh;
}

.CommandButton{
    margin: 16px auto;
    font-size: 2rem !important;
    min-height: 16vh;
}

.HeaderBar{
    background-image: linear-gradient(to right,#305496,#2f65ca);
    color: white;
    padding: 12px;
    font-size: 20px;
}

.CommandButtonsContainer{
    margin: 24px 256px;
}